<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Keywords>
        <Keyword>testf</Keyword>
      </Keywords>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>NUnit Test Fixture</Title>
      <Author>TTDev</Author>
      <Description>
      </Description>
      <HelpUrl>
      </HelpUrl>
      <Shortcut>ntestf</Shortcut>
    </Header>
    <Snippet>
      <References>
        <Reference>
          <Assembly>nunit.framework.dll</Assembly>
        </Reference>
      </References>
      <Imports>
        <Import>
          <Namespace>NUnit.Framework</Namespace>
        </Import>
      </Imports>
      <Code Language="csharp" Delimiter="$"><![CDATA[    [TestFixture]
    public class WhenTestingSomething
    {
        //Tests go here
    }]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>